.body {
	min-width: 200px;
	max-width: 60%;
	margin: 80px auto;
  text-align: center;
}

img[src*="svg"] {
  width: 32px;
  height: 32px;
  border: 2px solid #0EA5E9;
  border-radius: 4px;
  margin-left: 32px;
  display: inline-block;
  vertical-align: middle;
}

img[src*="png"], [src*="jpg"] {
  width: 180px;
  height: 180px;
  border: 2px solid #0EA5E9;
  border-radius: 4px;
  margin-left: 32px;
  display: inline-block;
  vertical-align: middle;
}

img[src*="dr0rikspp"] {
  width: 100%;
  border: none;
}

.name-pronouns:after {
  content: " (they/them)";
  font-size: 20px;
  opacity: 40%;
  display: inline;
  vertical-align: middle;
}

.section-navitm {
  display: inline-block;
  text-align: center;
  margin: auto;
}

.section-navitm img {
  width: 60px;
  height: 60px;
  padding: 2px;
  border-radius: 100%;
  background-origin: content-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

#resume-button {
  background: #0EA5E9;
  padding: 8px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  display: inline-block;
  vertical-align: middle;
}